@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

@layer utilities {
  .clip-path {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: -1;
  }
}

.swiper-pagination-bullet-active {
  background: #ff6a00;
}
